

.playerword > .olBack {
  background-color: #8dff68;
}

.playerword > .tlBack {
  background-color: #8dff68;
}

.playerword:nth-of-type(2n) > .olBack {
  background-color: #74d854;
}

.playerword:nth-of-type(2n) > .tlBack {
  background-color: #74d854;
}

.playerword-active > .olBack {
  background-color: orange
}
.playerword-active > .tlBack {
  background-color: orange
}
